<button style="width:40px; margin:10px 10px 10px 0px" class="btn btn-success"
        ng-click="scopeModel.HobbyLogic.AddHobby()">
    +
</button>
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:50px">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="element in scopeModel.Hobbies">
            <td>
                <input type="text" ng-model="element.NameValue"
                       ng-required="true" ng-change="scopeModel.updateName(element)"
                       placeholder="Enter Hobby Name" class="form-control"/>
                <div ng-show="element.touched && element.invalid && element.unique" class="text-start">
                    <small class="text-danger">Make sure to enter a hobby name.</small>
                </div>
                <div ng-show="element.touched && !element.unique && !element.invalid" class="text-start">
                    <small class="text-danger">Make sure the hobby name is unique.</small>
                </div>
            </td>
            <td><button ng-click="scopeModel.HobbyLogic.RemoveHobby(element)" class="btn btn-danger">x</button></td>
        </tr>
    </tbody>
</table>
<style>
    th {
        text-align: center !important;
    }
</style>