<main>
    <div ng-include="'MyViews/Employee/EmployeeManagementPage.html'" ng-controller="employees_controller"></div>

    <script>
        var mainApp = angular.module("myApp", ['ui.bootstrap']);
    </script>
</main>