<div class="row" style="margin:30px">
    <div class="col-md-3 col-sm-2"></div>
    <div class="col-md-6 col-sm-8">
        <div style="display:flex; justify-content:space-between; gap:20px; margin-bottom: 20px;">
            <input type="text" placeholder="Search by Name" ng-model="search_input" class="form-control" style="display: inline; width: 60%;" />
            <div>
                <button ng-click="scopeModel.loadData()" type="button" class="btn btn-primary">Search</button>
                <button data-open-modal ng-click="scopeModel.AddDepartment()" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
        <department-grid-directive on-ready="scopeModel.onDirectiveReady" 
            on-update="scopeModel.onDepUpdated"></department-grid-directive> 
    </div>
</div>